@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-size: 1rem;
    @apply font-LGSMHATR
}

/* font-weight 400 LGSMHATR */
/* @font-face {
    font-family: "LGSMHATR";
    src: url(./assets/fonts/LGSMHATR.TTF) format("truetype");
} */

/* font-weight 500 LGSMHATL */
/* @font-face {
    font-family: "LGSMHATL";
    src: url(./assets/fonts/LGSMHATL.TTF) format("truetype");
} */

/* font-weight 600 LGSMHATSB */
/* @font-face {
    font-family: "LGSMHATSB";
    src: url(./assets/fonts/LGSMHATSB.TTF) format("truetype");
} */

/* font-weight 700 LGSMHATB */
/* @font-face {
    font-family: "LGSMHATB";
    src: url(./assets/fonts/LGSMHATB.TTF) format("truetype");
} */


@layer base {
    :root {
        --lg_red_active: #83022b;
        --primary: #a50034;
        --secondary: #b3cfe3;
        --deep_secondary: #5a7d96;
        --light_primary: #fef1f4;
        --bg_gray: #f7f8f9;
        --error: #ff0000;
        --gray_900: #212121;
        --gray_800: #333333;
        --gray_700: #1b1d1f;
        --gray_600: #454c53;
        --gray_500: #999999;
        --gray_400: #72787f;
        --gray_300: #dbdbdb;
        --gray_200: #dadfe2;
        --gray_100: #e8ebed;
        --black: #191919;
        --C9CDD2: #c9cdd2;
        --F00000: #f00000;
        --EEF0F2: #eef0f2;
        --DCF4E1: #dcf4e1;
        --0DC920: #0dc920;
        --FFDEDE: #ffdede;
        --FF5925: #ff5925;
        --FFEBDE: #ffebde;
        --popup_bg: rgba(0, 0, 0, 0.5);
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer utilities {
    html,
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .home_screen {
        @apply bg-[#2d2d2d]
    }

    .home_screen > div {
        @apply text-white;
    }

    .home_screen > .page-wrap > div > a {
        @apply bg-[#2d4c67]
    } 
    .page {
        @apply w-screen h-fit bg-bg_gray relative
    }

    .container {
        @apply max-w-[80rem] h-[calc(100%-4.375rem)] my-0 mx-auto text-center relative
    }

    .header {
        @apply w-full h-[4.375rem] px-[3.75rem]  items-center border-b border-gray_300 bg-white top-0 z-10 justify-between;
    } 
    .tabletHeader {
        @apply w-full justify-start items-center bg-white px-[1.875rem] py-3 z-10 gap-[2.25rem];
    } 
    .mobileHeader {
        @apply w-full h-[3.125rem] justify-between items-center bg-white py-3 px-4 overflow-hidden z-10;
    }

    .languageBox {
        @apply absolute bottom-[-12.25rem] w-[33rem] right-0 bg-white z-50 shadow-[0px_0px_6px_0px_#0000001A] px-2.5 flex justify-start items-center flex-wrap tablet:bottom-[-5.9rem];
    }

    .languageBox > div {
        @apply flex justify-center items-center py-3 w-[6.25rem] gap-2.5 cursor-pointer  
    }
    
    .languageBox > div > div {
        @apply text-gray_500 text-base font-LGSMHATR font-bold 
    }
    
    .languageBox > div > div:hover {
        @apply underline text-primary decoration-1 decoration-[var(--primary)]
    }
    
    .languageBox > div.active > div {
        @apply text-black
    }
    .mobileLanguageBox {
        @apply mobile:w-full bg-[#f5f5f5] static bottom-0 px-0 shadow-inherit
    } 
    .mobileLanguageBox > div {
        @apply mobile:text-left text-sm font-LGSMHATR text-gray_500 flex justify-start gap-2.5 basis-full py-2.5 px-4;
    }

    .helpBox {
        @apply w-[6.25rem] py-1 bg-white shadow-[0px_0px_6px_0px_#0000001A] absolute top-[2.3rem] right-[0] z-50;
    }

    .helpBox > div {
        @apply py-2.5 text-center font-LGSMHATR text-gray_500;
    }

    .helpBox > div:hover {
        @apply bg-[#F5F5F5] text-gray_900;
    } 
    .mobileHelpBox {
        @apply mobile:w-full bg-[#f5f5f5] static bottom-0 right-0 z-0 shadow-inherit
    } 
    .mobileHelpBox > div {
        @apply mobile:text-left p-4 text-sm font-LGSMHATR text-gray_500 cursor-pointer;
    } 
    .cPopUpBg {
        @apply fixed top-0 bottom-0 left-0 right-0 bg-popup_bg z-[9999] mobile:bg-white;
    }

    .cPopUp {
        @apply bg-white absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]
        mobile:w-full mobile:h-full mobile:flex mobile:flex-col
    } 
    .cPopHeader {
        @apply flex flex-col-reverse p-[0.5rem_1rem_0_1rem]
        mobile:flex-row mobile:justify-between mobile:items-center mobile:p-[0_1rem] mobile:h-[3.125rem]
    } 
    .cPopHeaderTitle {
        @apply text-center text-[1.625rem] font-LGSMHATSB text-gray_700
        mobile:text-[1rem] mobile:leading-[1.115rem]
    }

    .blackLineRoundButton {
        @apply border border-gray_700 rounded-full py-2 px-4 font-LGSMHATSB text-sm text-gray_700 hover:bg-gray_700 hover:text-white hover:border-white;
    }

    .primaryButton {
        @apply bg-primary text-white rounded font-LGSMHATSB text-sm h-[2.5rem] hover:bg-lg_red_active
    }

    .blackLineButton {
        @apply border border-gray_700 rounded font-LGSMHATSB text-sm text-gray_700 h-[2.5rem] hover:bg-black hover:text-white;
    }

    .blackLineButtonNotHover {
        @apply border border-gray_700 rounded font-LGSMHATSB text-sm text-gray_700 h-[2.5rem]
    }

    .grayRoundFillButton {
        @apply rounded-full w-28 h-10 bg-[#C9CDD2] text-gray_400 text-base font-LGSMHATSB leading-10 cursor-pointer
    }

    .grayRoundFillButton.active {
        @apply bg-primary text-white
    }

    .grayRoundLineButton {
        @apply py-2.5 px-5 rounded-full border border-[#9EA4AA] font-LGSMHATSB text-sm text-gray_700 leading-[0.875rem] cursor-pointer
    }

    .grayRoundLineButton.active {
        @apply border-primary text-primary
    }

    .calendarIcon {
        width: fit-content;
        position: relative;
        outline: none;
    }

    .calendarIcon::-webkit-datetime-edit-text {
        -webkit-appearance: none;
        display: none;
    }

    .calendarIcon::-webkit-datetime-edit-month-field {
        -webkit-appearance: none;
        display: none;
    }

    .calendarIcon::-webkit-datetime-edit-day-field {
        -webkit-appearance: none;
        display: none;
    }

    .calendarIcon::-webkit-datetime-edit-year-field {
        -webkit-appearance: none;
        display: none;
    }

    .calendarIcon::-webkit-calendar-picker-indicator {
        background: transparent;
        z-index: 1;
    }

    .calendarIcon::after {
        cursor: pointer;
        width: 1rem;
        height: 1.031rem;
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: url('./assets/icons/ic_calendar.svg') no-repeat;
    }

    table {
        @apply w-full border-collapse
    }

    table > caption {
        @apply text-left font-LGSMHATB text-gray_700 text-base mb-5
    } 
    .tableTh {
        @apply bg-gray_100 font-LGSMHATSB text-gray_700 text-center border border-gray_200 py-[0.563rem] text-[0.75rem] leading-[1.125rem]
        mobile:py-[0.313rem] mobile:text-gray_400
    } 
    .tableTd {
        @apply border-gray_200 font-LGSMHATR text-gray_700 text-center text-[0.75rem] leading-[1.125rem] p-1 border h-[2.313rem]
        mobile:h-[1.75rem]
    }

    .tableSelectStyle {
        @apply h-[1.75rem] p-[0_0.375rem_0_0.625rem] text-[0.75rem] mobile:w-[12.5rem]
    }
    
    .mobileTableSelectStyle {
        @apply w-[12.5rem]
    }

    .customInput {
        @apply border rounded h-9 font-LGSMHATR text-[0.875rem] text-gray_700 placeholder:text-gray_400 flex items-center;
    }

    /* selectBox */
    .selectBoxList {
        @apply flex flex-col max-h-[11.25rem] overflow-y-auto absolute w-full
        bg-white z-[3] rounded-[0_0_3px_3px] border border-l-gray_700 border-b-gray_700
        border-r-gray_700 border-t-gray_200
    }

    /* .selectBoxList::-webkit-scrollbar {
        display: none;
    } */

    .selectTitleBox, .selectBoxListItem {
        @apply flex items-center text-left
    }

    .selectBoxListItem {
        @apply text-gray_400 flex-none
    }

    .selectBoxListItem:hover {
        @apply text-gray_700 bg-gray_100
    }

    .selectDefaultBox .selectTitleBox {
        @apply text-gray_700
    }

    .selectBoxSelected .selectTitleBox {
        @apply text-black
    }

    .selectBoxDisabled {
        @apply bg-gray_100 pointer-events-none
    }

    .selectBoxDisabled .selectTitleBox {
        @apply text-[#757575]
    }

    .cToolTipStyle {
        @apply relative mobile:static
    } 
    .cToolTipStyle .cToolTipContentBox {
        @apply p-[0.438rem_0.688rem] bg-bg_gray border border-gray_100 rounded-[3px] absolute z-[4] top-[1.688rem] w-max text-left
        mobile:flex mobile:flex-col mobile:items-end mobile:gap-[0.75rem] mobile:right-0 mobile:max-w-full

    }

    .cToolTipStyle .cToolTipTitle {
        @apply text-gray_700 text-[0.875rem] leading-[0.976rem] whitespace-pre-line break-words
        mobile:text-[0.75rem] mobile:leading-[0.836rem]
    }

    .noLine {
        @apply !border-x-0
    }

    .sr_only {
        @apply absolute left-[-9999px] w-[1px] h-[1px] hidden
    } 
    .hidden_scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* settingPageStyles */
    /* 반응형 */
    .settingPageStyles {
        @apply relative mx-auto max-w-[80rem] text-center pb-[5.938rem] mobile:pb-[2.5rem];
    }
    /* 반응형 */
    .settingPageStyles .grayRoundFillButton {
        @apply rounded-full w-28 h-10 bg-[#C9CDD2] text-gray_400 text-base font-LGSMHATSB leading-10 cursor-pointer mobile:w-[5.625rem] mobile:h-9;
    }
    
    .settingPageStyles .grayRoundFillButton.active {
        @apply bg-primary text-white;
    }
    
    .settingPageStyles .grayRoundLineButton {
        @apply py-2.5 px-5 rounded-full border border-[#9EA4AA] font-LGSMHATSB text-sm text-gray_700 leading-[0.875rem] cursor-pointer;
    }
    
    .settingPageStyles .grayRoundLineButton.active {
        @apply border-primary text-primary;
    }

    .loader {
        border-top-color: #3469db;
        -webkit-animation: spinner 1.5s linear infinite;
        animation: spinner 1.5s linear infinite;
    }
    
    div::-webkit-scrollbar {
      width: 5px;  /* 세로 스크롤바의 너비 */
      height: 5px;  /* 가로 스크롤바의 너비 */
    }
    
    div::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background: #d2d5dab0; /* 스크롤바의 색상 */
      border-radius: 3px;
    }
    
    div::-webkit-scrollbar-track {
    /*     background: #fff;  스크롤바 뒷 배경 색상 */
      border-radius: 3px;
    }
    
    select::-webkit-scrollbar {
      width: 8px;  /* 세로 스크롤바의 너비 */
      height: 8px;  /* 가로 스크롤바의 너비 */
    }
    
    select::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      background: #C9CDD2; /* 스크롤바의 색상 */
      border-radius: 3px;
    }
    
    select::-webkit-scrollbar-track {
    /*     background: #fff;  스크롤바 뒷 배경 색상 */
      border-radius: 3px;
    }
    
    @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
    }
    
    @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
    }
    
    
    @keyframes ldio-y7ynaz57uw {
    0% { opacity: 1 }
    100% { opacity: 0 }
    }
    .ldio-y7ynaz57uw div {
    left: 47px;
    top: 24px;
    position: absolute;
    animation: ldio-y7ynaz57uw linear 1s infinite;
    background: #85a2b6;
    width: 6px;
    height: 12px;
    border-radius: 1.8px / 1.8px;
    transform-origin: 3px 26px;
    }.ldio-y7ynaz57uw div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #85a2b6;
    }.ldio-y7ynaz57uw div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #85a2b6;
    }
    .loadingio-spinner-spinner-5fjw408229u {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: none;
    }
    .ldio-y7ynaz57uw {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
    }
    .ldio-y7ynaz57uw div { box-sizing: content-box; }
    /* generated by https://loading.io/ */
    
    .btnImage:hover{
      filter: invert(14%) sepia(53%) saturate(5181%) hue-rotate(328deg) brightness(82%) contrast(114%)
    }
    
    .chart{
     position: relative; 
     @apply  w-[54%] flex items-center p-0 flex-col mobile:w-full mobile:h-[25rem] ;
    }
    ul{
      list-style-type: disc;
    }
    ol{
      list-style-type: decimal;
    }
    ol>li{
      margin-bottom: 0.8rem;
      @apply text-gray_700 leading-[140%] mobile:text-[0.875rem]
    }
    ul>li{
      margin-bottom: 0.2 rem;
      @apply text-gray_700 leading-[140%] mobile:text-[0.875rem]
    }
    li>p{
      @apply text-gray_700 leading-[140%] mobile:text-[0.875rem]
    }
    
    /*** 연속숫자에 스타일을 추가 ***/
    @counter-style circled-number {
      system: fixed;
      symbols: ① ② ③ ④ ⑤ ⑥ ⑦ ⑧ ⑨;
      suffix: " ";
    }
    ul.circle_list{
      list-style: circled-number;
    }
  /* Noisetools Component Use*/
  .nts_noise_field{
    background: #FFFFFF;
    border:1px solid #000000; 
}

.nts_no_display{
    display: none;
}


.nts_wave_circle_picker:hover{
    fill: #333333;
    cursor: pointer;
}

.nts_swave_dist_text{
    font: normal 10px LGSMHATR;
    user-select: none;
    background: #FFFFFF;
    fill: #CCCCCC;
    padding: 5px;
}

.nts_ruler_dist_s_to_r_text{
    font: normal 14px LGSMHATR;
    user-select: none;
    opacity: 1;
    font-family: var(--font-LGSMHATR), sans-serif;
}
.nts_ruler_line:hover{
    fill: rgb(39, 132, 193);
    stroke: rgb(39, 132, 193);
    cursor: pointer;
}
.disabled:hover{
    cursor: not-allowed;
}
.wall_btn{
    fill: #CCCCCC;
    stroke: #000000;
    cursor: pointer;
}

.wall_btn:hover{
    fill: rgb(39, 132, 193);
    stroke: rgb(39, 132, 193);
    cursor: pointer;
}

.nts_source_text{
    font: bold 14px LGSMHATB;
    user-select: none;
    opacity: 1;
    font-family: var(--font-LGSMHATB), sans-serif;
}

.nts_svg_parent {
    aspect-ratio: 1100/ 500;
}

}


